:host {
  --color: var(--secondary-color, black)
}

.form-field {
  color: var(--color);
  border-bottom: 2px solid var(--color);
}

.search {
  &__input {
    background: transparent;
    color: inherit;
    border: 0;
    outline: none;

    &::-webkit-search-cancel-button {
      font-size: 5em;
      cursor: pointer;
    }
  }

  &__icon {
    transform: translateY(25%);
  }
}
