{{error}}
<mat-card *ngFor="let track of searchResult.data">
  <mat-card-title-group>
    <mat-card-title>{{track.title_short}}</mat-card-title>
    <img mat-card-sm-image src="{{track.album.cover_small}}" alt="{{track.album.title}}">
    <mat-card-subtitle>{{track.title_version}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <p>{{track.artist.name}} album: {{track.album.title}}</p>
    <audio controls="" name="media">
      <source src="{{track.preview}}" type="audio/mpeg"></audio>
  </mat-card-content>
</mat-card>
