header {
  background: var(--primary-color, white);
  color: var(--secondary-color, black);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: inherit;
  top: 0;
  z-index: 1000;

  &>* {
    padding: 0 20px;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.brand {
  color: inherit;
  text-decoration: none;
}

.fill-header-height {
  height: inherit;
}

.search-container {
  position: relative;
}
