$header-height: 60px;

header {
  background: #7b1fa2;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  z-index: 1000;

  &>* {
    padding: 0 20px;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.brand {
  color: inherit;
  text-decoration: none;
}

.fill-header-height {
  height: $header-height;
}
