$player-color: white;
$player-controls:black;
$player-controls_disabled: lighten($player-controls, 50%);

@mixin progressbarSlider {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $player-controls;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    transform: scale(1.5);
  }
}

.player {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: $player-color;
  padding: 10px 0;

  &__name {
    text-align: center;
  }
}

.player-duration {
  display: flex;

  &__curr-time,
  &__total-time {
    color: $player-controls;
    flex: 0.15;
    text-align: center;
  }

  &__progressbar {
    display: flex;
    flex: 0.7;
    align-items: center;
    position: relative;
  }
}

.player-buttons {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;

  .material-icons {
    transition: all 0.2s ease-in-out;
    font-size: 2em;
    margin: 0 15px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &_inactive,
    &_disabled {
      color: $player-controls_disabled;
    }

    &_disabled {
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }
}

.progressbar {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: $player-controls_disabled;
  outline: none;

  &__progress {
    pointer-events: none;
    position: absolute;
    background-color: $player-controls;
    height: 3px;
    width: 100%;
    transform-origin: left center;
    will-change: transform;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include progressbarSlider()
  }

  &::-moz-range-thumb {
    @include progressbarSlider()
  }

  &::-ms-thumb {
    @include progressbarSlider()
  }
}
