:host {

  .track-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .track-card {
    flex-basis: calc(25% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &__bg {
      height: 100%;
      background-size: cover;
      background-position: center center;
      border-radius: 4px;
      filter: blur(3px);
    }

    &__content {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      padding: 10px;
      border-radius: 4px;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }
  }

  .track-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: inherit;

    &__name {
      font-size: 1.5em;
      cursor: pointer;
    }

    &__artist,
    &__album {
      cursor: pointer;
    }
  }
}
