  <div class="artist" *ngIf="artist$ | async as artist">
    <figure class="artist__thumbnail">
      <div class="artist__thumbnail__bg" [ngStyle]="{'background-image': 'url(' + artist.picture_medium + ')'}"></div>
      <div class="picture"><img class="img" src="{{artist.picture_medium}}" alt="{{artist.name}}"></div>
    </figure>
    <div class="artist__info">
      <h1 class="name" title="Back" (click)="goBack()">{{artist.name}}</h1>
      <div class="fans">{{artist.nb_fan}} fans</div>
    </div>
  </div>
  <!-- <top50>@artist.tracklist</top50> -->
  <!-- <albums></albums> -->
